---
layout: default
permalink: /archive/
title: Archive
---

 <div class="article-list">
	{% for post in site.posts %}
	{% unless post.next %}
	<h3><small>{{ post.date | date: '%B %Y' }}</small></h3>
	{% else %}
	{% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
	{% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
	{% if year != nyear %}
	<h3><small>{{ post.date | date: '%B %Y' }}</small></h3>
	{% endif %}
	{% endunless %}
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
	{% endfor %}
</div>


<div>
<h1> Older news</h1>
<ul>
	<li>April 25: I defended my "Habilitation à Diriger des Recherches" (HDR)</a><br />
		  <FONT size="1">Advances in PAC-Bayesian theory from generalization bounds to supervised and transfer learning algorithms (in french)</FONT><br /><br /></li>
<li>May 24: Accepted paper at <a href="https://ecmlpkdd.org/2024/" target="_blank">ECML-PKDD 2024</a><br />
		  <FONT size="1">A Theoretically Grounded Extension of Universal Attacks from the Attacker's Viewpoint</FONT><br /><br /></li>
<li>May 24: Accepted paper at <a href="https://ecmlpkdd.org/2024/" target="_blank">ECML-PKDD 2024</a><br />
		  <FONT size="1">A Theoretically Grounded Extension of Universal Attacks from the Attacker's Viewpoint</FONT><br /><br /></li>
<li>May 24: A communication accepted paper at <a href="https://ecmlpkdd.org/2024/" target="_blank">CAp 2024</a><br />
		  <FONT size="1">Une borne PAC-Bayésienne sur une mesure de risque pour l'apprentissage équitable</FONT><br /><br /></li>  
<li>Jan 24: Accepted paper at <a href="http://aistats.org/aistats2024/" target="_blank">AISTATS 2024</a><br />
		  <FONT size="1">Leveraging PAC-Bayes Theory and Gibbs Distributions for Generalization Bounds with Complexity Measures</FONT><br /><br /></li>  	<li>July 23: Accepted paper a <a href="https://www.springer.com/journal/10994" target="_blank">Machine Learning Journal</a><br />
		  Included in the program of <a href="https://2023.ecmlpkdd.org" target="_blank">ECML-PKDD 2023</a><br />
	  <li>Dec 22: Paul Viallard defended his Ph.D. Congratz ! <br /><FONT size="1">Beyond PAC-Bayesian Bounds: From Disintegration to Novel Bounds</FONT><br /><br /></li>
	<li>May 22: 2 communications accepter at CAp'22 <br /><br /></li>
	  <li>I was a meta-reviewer for ECML-PKDD'22 <br /><br /></li>
	  <li>March 22: I was an external examinator of the PhD Thesis of <a href="https://www.linkedin.com/in/luxinzhang/" target="_blank">Luxin Zhang</a> --- Well done<br /><FONT size="1">Model Agnostic Domain Adaptation: Application to Fraud Detection</FONT><br /><br /></li>
	<li>I was a reviewer for ICML 2022<br /><br /></li>
   <li>Two papers accepted at <a href="https://nips.cc/Conferences/2021" target="_blank">NeurIPS 2021</a><br/>
	  <FONT size="1">Learning Stochastic Majority Votes by Minimizing a PAC-Bayes Generalization Bound</FONT><br/>
	  <FONT size="1">A PAC-Bayes Analysis of Adversarial Robustness</FONT><br/><br/></li>
	  <li>I am the publicity chair of ECML-PKDD 2022<br/><br/></li>
	   <li>I am a membre of <a href="https://cnu27.univ-lille.fr" target="_blank">CNU 27</a><br/>
	   <FONT size="1">the french National Council of Universities for computer science</FONT><br/><br/></li>
	<li>June 21: A paper accepted at <a href="" target="_blank">ECML-PKDD'21</a><br/>
		<FONT size="1">Self-Bounding Majority Vote Learning Algorithms by the Direct Minimization of a Tight PAC-Bayesian C-Bound</FONT><br/><br/> </li>
	<li>May 21: 3 communcations accepted at CAp'21<br /><br /></li>
	<li>I was a reviewer for ICML 2021<br /><br /></li>
	<li>Dec. 20: Léo Gautheron defended his Ph.D. Well Done.<br /><br /></li>
	<li>June 20: A <a href="#ECML20">paper</a> accepted at <a href="https://ecmlpkdd2020.net" target="_blank">ECML-PKDD'20</a><br />
	   <FONT size="1">Landmark-based Ensemble Learning with Random Fourier Features and Gradient Boosting</FONT><br/><br/>
	</li>
	<li>May 20: Two communications accepted at CAp'20<br/><br/></li>
		<li>Apr. 20: A <a href="http://arxiv.org/abs/2004.11829" target="_blank">short version</a> of our domain adaptation book is avalaible on ArXiV<br/>
	   <FONT size="1">Metric Learning from Imbalanced Data with Generalization Guarantees</FONT>
	  <br/><br/></li>
	<li>A <a href="#PRL20">paper</a> accepted in Pattern Recognition Letters<br />
	<FONT size="1">Metric Learning from Imbalanced Data with Generalization Guarantees</FONT><br/><br/></li>
	<li>A communication accepted to <a href="https://sites.google.com/view/mlwithguarantees" target="_blank">ML with Guarantees</a>
	  workshop @NeurIPS'19<br />
	   <FONT size="1">Interpreting Neural Networks as Majority Votes through the PAC-Bayesian Theory</FONT><br /><br /></li>
   <li>I will be a reviewer for <a href="https://ida2020.org/" target="_blank">IDA 2020</a><br /><br /></li>
	<li>Sept. 19: Spare time news - I obtained my <a href="images/kf.html">2nd star Black Belt in MKF</a><br /><br /></li>
	<li>Aug. 19: Our book on <a href="#DABOOK">Domain Adaptation Theory</a> is now available<br /><br />
	</li>
	<li>Aug. 19: A <a href="#pbda_dalc"> paper</a> accepted in Neurocomputing journal<br/>
	  <FONT size="1">PAC-Bayes and Domain Adaptation</FONT><br/><br/></li>
	<li>Aug. 19: A <a href="#ICTAI19">paper</a> accepted at <a href="http://www.ictai2019.org/" target="_blank">ICTAI'19</a><br/>
	  <FONT size="1">Metric Learning from Imbalanced Data</FONT><br/><br/></li>
	<li>June 19: I am a board Member of the <a href="https://www.sfds.asso.fr/fr/malia_machine_learning_et_intelligence_artificielle/459-groupe_malia/" target="_blank">MALIA</a> group of SFdS<br /><br/></li>
		<li>June 19: I will give a talk during <a href="http://www.jds2019.sfds.asso.fr/" target="_blank">JDS'19</a><br />
<FONT size="2">When PAC-Bayesian Majority Vote meets Domain Adaptation </FONT>
<br /><br />
</li>
	<li>May 19: One communication accepted at >CAp'19</a><br/><br/></li>
   <li>May 19: A <a href="index.html#MVPB_long"> paper</a> accepted in Neurocomputing journal<br/><br/></li>
	<li>I will be a reviewer for <a href="http://ecmlpkdd2019.org/" target="_blank">ECML-PKDD'19</a><br/><br/></li>
	<li>Jan. 19: The website of our project APRIORI is online <a href="https://project.inria.fr/apriori/" target="_blank">here</a><br/><br/></li>
	<li>Dec. 18: <a href="#RFFPB">paper</a> accepted at <a href="https://www.aistats.org/" target="_blank">AISTATS'2019</a><br/>
	 <FONT size="1">Pseudo-Bayesian Learning with Kernel Fourier Transform as Prior</FONT><br/><br/></li>
  <li>I will be a reviewer for <a href="https://icml.cc/Conferences/2019" target="_blank">ICML'19</a><br/><br/></li>
   <li><a href="index.html#RFFPB">Research report</a> on PAC-Bayes and Random Fourier features<br/><br/></li>
	<li>Oct. 18: Congratz to my student Anil Goyal who obtained his Ph.D.<br/><br/></li>
	<li>Post-Doc offer: Machine Learning for Multiview Learning<br>
<FONT size="1">More informations <a href="http://perso.univ-st-etienne.fr/me63854h/misc/offer_post_doc_lives.html">here</a></FONT><br/><br/></li>
   <li>ANR project APRIORI accepted (I am the coordinator)<br/>
		<font size="1">A Pac-bayesian RepresentatIOn leaRnIng perspective</font><br/><br/></li>
	<li>A paper accepted at <a href="http://www.ida2018.org" target="_blank">IDA'18</a><br>
		 <FONT size="1">Multiview Learning of Weighted Majority Vote by Bregman Divergence Minimization</a></FONT><br/><br/></li>
<li>I will be the co-chair of the <a href="http://www.ecmlpkdd2019.org/" target="_blank">Demo track ECML/PKDD'19</a><br/><br/></li>
	<li>Two communications accepted at <a href="http://cap2018.litislab.fr/" target="_blank">CAp'18</a><br/><br/></li>
<li>I am a reviewer for <a href="http://icml.cc/2018" target="_blank">ICML'18</a><br/><br/></li>
<li>I gave a talk at INRIA Lille, MODAL team<br />
<FONT size="2">When PAC-Bayesian Majority Vote meets Transfer Learning </FONT>
<br /><br />
</li>
<li>INS2I-CNRS project JCJC 2018 accepted "PaRaFF" (with <a href="http://chercheurs.lille.inria.fr/pgermain/" target="_blank">P. Germain</a>)<br/>
<FONT size="2">PAC-Bayesian Random Fourier Features</FONT><br/><br/> </li>
<li>I will be a member of the scientific comittee of a NIPS 2017 workshop
<br/><FONT size="2"><a href="https://bguedj.github.io/nips2017/50shadesbayesian.html">(Almost) 50 Shades of Bayesian Learning: PAC-Bayesian trends and insights</a></FONT><br/><br/></li>
<li>Post-Doc offer: Machine Learning for Multiview Learning<br>
<FONT size="1">More informations <a href="http://perso.univ-st-etienne.fr/me63854h/misc/offer_post_doc_lives.html">here</a></FONT><br/><br/></li>
<li>I am one of the vice-president of the <a href="http://www.ssfam.org" target="_blank">SSFAM</a><br/>
<FONT size="1">The French Association on Machine Learning</FONT><br/><br/> </li>
<li>June 17: A <a href="#ECML17">paper</a> accepted at <a href="http://ecmlpkdd2017.ijs.si/" target="_blank">ECML'17</a><br/>
<FONT size="1">PAC-Bayesian Analysis for a two-step Hierarchical Mutliview Learning Approach</FONT><br/><br/> </li>
<li>May 17: A <a href="#CAp17">communication</a> accepted at <a href="http://cap2017.imag.fr/" target="_blank">CAp'17</a><br/><br/></li>
<li> I will be a reviewer for <a href="https://nips.cc/Conferences/2017" target="_blank">NIPS'17</a><br/><br/></li>
<li>I will be a reviewer for <a href="http://icml.cc/2017" target="_blank">ICML'17</a><br/><br/></li>
<li><i>Spare-time news</i>: I am a 1st Star Black Belt in <a href="images/kf.html">Mansuria Kung Fu</a>!!<br/><br/></i></li>
<li>The Hubert Curien Lab has its own <a href="https://www.facebook.com/LabHubertCurien" target="_blank">Facebook Page</a><br/>
and Twitter account <a href="https://twitter.com/LabHubertCurien" class="twitter-follow-button" data-show-count="false">Follow @LabHubertCurien</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br/><br/></li>
<li>My research  group has its own YouTube Channel! 
<a href="https://www.youtube.com/channel/UCq-q2zWMjY-mHgqki_fRNIA" target="_blank"> Follow us</a><br/><br/> </li>
<li>Sept 16: A paper <a href="index.html#Neurocomp16">accepted</a> in Neurocomputing<br />
<FONT size="1">Risk Upper Bounds for General Ensemble Methods with an application to Multiclass Classification</FONT><br/><br/> </li>
<li>May 16: A paper accepted at <a href="http://cap16.lif.univ-mrs.fr/" target="_blank">CAp 2016</a><br /> <FONT size="1">The french conference on machine learning</FONT> </li>
<li>April 16: A <a href="index.html#dalc" target="_blank">paper</a> accepted at ICML 2016<br/><br/></li>
<li>March 16: A new version of the research report 
<FONT size="2"><a href="index.html#dalc" target="_blank">A New PAC-Bayesian Perspective on Domain Adaptation
</a></FONT><br /><br /></li>
<li>My research group has its own Twitter account! <a href="https://twitter.com/DataIntelGroup" class="twitter-follow-button" data-show-count="false">Follow @DataIntelGroup</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br/><br/></li>
<li> What is Domain Adaptation?---a popularization:  <a href="misc/DA_vulgarisation.pdf" target="_blank">Slides of a talk I gave <i>(in french)</i></a><br/><br/>
</li>
<li>I will be a I will be a member of the programm comittee of <a href="http://smileclinic.alwaysdata.net/ijcai16workshop/" target="_blank">BeyondLabeler - Human is More Than a Labeler</a><br/><br/></li>
<li>I'm responsible of the maintenance & development of LabMetry (bibliometry platform created by J. Bennegent &  F. Voron)<br /><br /></li>
<li>The source code of our <a href="index.html#dalc">new domain adapatation algo</a> is available <a href="https://github.com/GRAAL-Research/domain_adaptation_of_linear_classifiers" target="_blank">here</a><br /><br /></li>
<li>A communication accepted at a NIPS'15 Workshop<br />
	<FONT size="1"><a href="https://sites.google.com/site/tlworkshop2015/" target="_blank">Transfer and Multi-Task Learning: Trends and New Perspectives</a></FONT><br /><br /></li>
	<li>I am a member of the program comittee of the french conference on machine learning (CAp'16)<br /><br /></li>
<li>I will be a reviewer for <a href="http://icml.cc/2016/" target="_blank">ICML 2016</a><br /><br /></li>
	<li> I am a member of the board of the Hubert Curien Lab.<br /><br /></li>
<li>I was a reviewer for <a href="http://adas.cvc.uab.es/task-cv2015/" target="_blank">TASK-CV 2015</a><br /><br /></li>
<li>I'm in charge of the 2<FONT size="1">nd</FONT> year of BSc in Computer Science<br /><br /></li>
<li>June 15: The research report on our novel work on domain adaptation is available<br />
<FONT size="2"><a href="index.html#dalc">A new PAC-Bayesian perspective on Domain Adaptation</a></FONT> 
<br /><br /></li>
<li>June 15: A new version of the research report <br />
<FONT size="2"><a href="index.html#generalCborne14">On the Generalization of the C-Bound to Structured  Output Ensemble Methods</a></FONT> 
<br /><br /></li>
<li>April 15: We are opening a <b>PhD thesis position</b><br />
<FONT size="2"><a href="misc/PhD_2015.html" target="_blank">Annotations transfer in a domain adaptation framework</a></FONT> <br /><br /></li>
<li>Mar 15: Our long paper on PAC-Bayesian theorems for domain adaptation is available on arXiv<br /><br /></li>
<li> Reviewer for <a href="http://icml.cc/2015/" target="_blank">ICML'2015</a><br /><br /></li>
<li>Two <a href="index.html#multiCborne14">communications</a> accepted at NIPS'14 Workshops<br />
	<FONT size="1"><a href="https://sites.google.com/site/multitaskwsnips2014/" target="_blank">Transfer and Multi-task learning: Theory Meets Practice</a></FONT><br />
<FONT size="1"><a href="https://sites.google.com/site/complexoutputs2014/" target="_blank">Representation and Learning Methods for Complex Outputs</a></FONT>
	<br /><br />
  </li>
<li>I will be a member of the organization committe of IDA 2015<br />
<FONT size="1">(International Symposium on Intelligent Data Analysis)</FONT><br /><br /></li>
<li>Oct 14: I am an assitant professor at university of Saint-Etienne<br /><br /></li>
<li>Sept 14: I received a Ph.D. award from Aix-Marseille Univ.<br /><br /></li>
<li>A <a href="index.html#NIPS14">paper</a> accepted at NIPS'14<br /> <br /></li>
<li>A <a href="index.html#PRL14">paper</a> accepted to Pattern Recognition Letters <br /><br />
</li>
<li>A <a href="index.html#MLJ14">paper</a> accepted to Machine Learning Journal<br />
<FONT size="1">in the ECML/PKDD 2014  journal track</FONT> <br /><br />
</li>
<li>A <a href="index.html#CAp14">paper</a> accepted at <a href="http://cap2014.sciencesconf.org" target="_blank">CAp 2014</a><br /> <FONT size="1">The french conference on machine learning</FONT> </li>
<li>May 14: My Ph.D. is awarded with a 1st accessit<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of the "<a href="http://www.afia.asso.fr/tiki-index.php?page=Prix+de+Th%C3%A8se+en+Intelligence+Artificielle" target="_blank">Prix de thèse de l'AFIA 2014</a>" <br /><br />
</li>
<li>April 14: A <a href="index.html#SSPR14">paper</a> accepted at <a href="http://cs.uef.fi/ssspr2014/" target="_blank">S+SSPR 14</a>
<br /><br />
</li>
	 <li>I will co-organize <a href="http://qarma.lif.univ-mrs.fr/lema" target="_blank">LEMA</a> a workshop at <a href="http://www.ecmlpkdd2014.org/" target="_blank">ECML-PKDD'14</a><br />
	<FONT size="1"><a href="http://qarma.lif.univ-mrs.fr/lema" target="_blank">LEarning with Multiple views: Applications to computer vision and multimedia</a></FONT>
<br /><br />
  </li>
	 <li>A <a href="index.html#pvmincq_w">communication</a> accepted at a NIPS'13 Workshop<br />
	<FONT size="1"><a href="https://sites.google.com/site/learningacross/home" target="_blank">Transfer and Multi-Task Learning Workshop</a></FONT>
	<br /><br />
  </li>
	 <li>A <a href="index.html#wiml13">communication</a> accepted at WiML'13
   <br />
	<FONT size="1"><a href="http://www.wimlworkshop.org/" target="_blank">Women in Machine Learning workshop</a></FONT>
	<br /><br />
  </li>
	 <li>I will be a co-chair of <a href="http://ist.ac.at/oagm2014/welcome/" target ="_blank">ÖAGM 2014</a><br />
	<FONT size="1">(The Annual Workshop of the Austrian Association for Pattern Recognition)</FONT>
   <br /><br />
   </li>
	  <li>
		1st Oct. 13: I am a postdoc at the <a href="http://www.ist.ac.at/" target="_blank">IST Austria</a>
<br /><br />
	  </li>
  <li>
	Sept. 13: A <a href="index.html#ACML13">paper</a> accepted at <a href="http://acml2013.conference.nicta.com.au/" target="_blank">ACML 2013</a>
<br /><br />
  </li>
	<li>
	  18 Sept. 13: Ph.D. public defense
<br /><br />
	</li>
	 <li>
	  April 13: Two papers accepted at CAp'13<br/ >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(French Conference on ML)
<br /><br />
	</li>
	  <li>
	   March 13: A paper accepted at ICML 2013 
</li>
</ul>
</div>
